.Toolbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: #c7b0a3;
  padding: 0 11px;
  z-index: 90;
  box-sizing: border-box;
}

.Toolbar nav {
  height: 100%;
}

.Toolbar div {
  height: 100%;
  cursor: pointer;
}

.Toolbar div:active {
  background-color: white;
}

.Small {
  display: none;
}

@media (max-width: 500px) {
  .Toolbar nav {
    display: none;
  }

  .Big {
    display: none;
  }

  .Small {
    display: block;
  }
}
