.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Input label {
  font-weight: bold;
}

.Input input {
  outline: none;
  font: inherit;
  border: 1px solid #ccc;
  background-color: white;
  padding: 6px 10px;
  display: block;
  width: 90%;
}

.Input input:focus {
  background-color: #eee;
  border-color: #e27b36;
}
