.BuildControl {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  padding: 5px;
  margin: 0 5px;
  width: 40px;
  cursor: pointer;
  background-color: #f08e4a;
}

.BuildControl .label {
  font-weight: bold;
  width: 100px;
}
